@page
@model AHInteriorsERP.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Add Product</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Product</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Reserved</th>
            <th>Available</th>
            <th>Location</th>
            <th class="actions"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.SKU</td>
                <td>@item.ProductName</td>
                <td>£@item.BasePrice.ToString("0.00")</td>
                <td>@item.StockQuantity</td>
                <td>@item.ReservedQuantity</td>
                <td>@item.AvailableQuantity</td>
                <td>@item.LocationCode</td>
                <td class="actions">
                    <a asp-page="./Edit" asp-route-id="@item.ProductID">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.ProductID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>